@import "./switch.min.css"; 

.blocks-container{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    h2{
        margin-top: 20px;
    }
}

.blocks-carousel{
    width: 100%;
    margin: 20px;
    align-self: center;
    max-width: 1500px;
    position: relative;
}

.carousel-switch{
    align-self: center;
    width: 10%;
    padding: 15px;
    p{
        margin: 5px;
    }
}
